#gameContainer{
 text-align: center;   
}
#gameBoard{
    border: 3px solid;
}
#scoreText{
    /* font-family: "Permanent Marker", cursive; */
    font-size: 50px;
}
#resetBtn{
    /* font-family: "Permanent Marker", cursive; */
    font-size: 16px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    margin: 3rem;
    right: 0;
    bottom: 2vh;
}

#rotateMode{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-color: rgba(128, 128, 128, 0.308);
    color:white;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  
  #left{
    position:absolute;
    top:50%;
    left:0px;
    transform:translateY(-50%);
  }
  
  #right{
    position:absolute;
    top:50%;
    right:0px;
    transform:translateY(-50%);
  }
  
  #up{
       position:absolute;
    top:0px;
    left:50%;
    transform:translateX(-50%);
  }
  
  #down{
      position:absolute;
    bottom:0px;
    left:50%;
    transform:translateX(-50%);
  }